.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #e9cba2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  background-color: white;
  box-shadow: 0 0 80px #6a4512d9;
}

.imageContainer {
  background-image: url("../public//assets/imageLogin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 30px;
}

.containerInput {
  margin-bottom: 10px;
}

.input {
  --ion-item-background: #b5cbfa;
  --border-radius: 5px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.button {
  background-color: #6a4512;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .container {
    width: 50%;
    height: 65%;
    border-radius: 16px;
  }

  .imageContainer {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 85%;
    height: 60%;
  }
}
